.nav{
    box-shadow: 0 0 5px #00bcd4a6;
}

.nav{
    background-color: rgb(255, 255, 255);
}
.sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn1 button{
    padding: 5px 10px;
    border-radius: 5px;
}
.display{
    background: #f5f9fc;
}
.portfolio-sec{
    position: relative;
}
.addcards{
    margin-top: 10px;
}
.add-list-sec{
    position: absolute;
    display: none;
    top: 24px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    background-color: bisque;
}
.add-msg-sec{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 214px;
    z-index: 5;
    background-color: bisque;
}
.btn{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #009bd9;
    border: none;
    font-size: 14px;
}
.btn2{
    padding: 5px 10px;
    border-radius: 10px;
    background: transparent;
    border: none;
    font-size: 14px;
    color: #009bd9;
}
input{
    margin-top: 15px;
}
#addlist, #addmsg{
    width: 65%;
    margin: 0 auto;
}